<%- include('./includes/head') %>
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
               <div class="card text-white bg-primary">
                 <img class="card-img-top" src="holder.js/100px180/" alt="">
                 <div class="card-body">
                   <h4 class="card-title">Welcome To Express js & mysql CRUD</h4>
                   <p class="card-text"><a class="btn btn-info" href="/users">User List</a></p>
                 </div>
               </div>
            </div>
         </div>
    </div>
<%- include('./includes/end') %>